@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

body{
    font-family: "Inter";
    font-size: 32px;
    color: hsl(240, 38%, 20%);
}

p{
    font-weight: 300;
}

.container{   
    position: absolute;
    width: 70%;
    top: 20%;
    left: 20%;
}

.person{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding-top: 5%;
}

.description{
    position: absolute;
    width: 50%;
    top: 20%;
    right: 45%;
    z-index: 999;
}

.job{
    font-weight: 300;
    color: hsl(240, 18%, 77%);
}

.mainimg{
    box-shadow: 10px 10px 5px rgb(95, 95, 95);
    z-index:50;
}

.stepper{
    position: absolute;
    right: 30%;
    top: 95%;
    display: flex;
    background-color: hsl(240, 8%, 91%);
    border-radius: 60px;
    z-index: 100;
}

.previousstep{
    padding: 20px;
}

.nextstep{
    padding: 20px;
}

.bigbgimg{
    position: absolute;
    top: 0%;
    right: 0%;
}

.curveimg{
    position: absolute; 
    bottom: 0;
}

.quotesimg{
    position: absolute;
    top: 15%;
    left: 15%;
}

@media (max-width: 900px){

    .container{
        width: 90%;
        left: 5%;
        top: 5%;
    }

    .person{
        justify-content: center;
    }

    .description{
        width: 100%;
        top: 100%;
        right: 0;
        text-align: center;
        margin-top: 15%;
    }

    .mainimg{
        width: 80%;
    }

    .stepper{
        height: 20%;
        width: 30%;
        right: 35%;
    }

    h6{
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-size: 18px;
    }

    p{
        font-size: 18px;
    }

    .quotesimg{
        display: none;
    }

    .bigbgimg{
        width: 100%;
    }
    .curveimg{
        width: 60%;
    }
}