@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

body{
    font-family: "Inter";
    font-size: 32px;
    color: hsl(240, 38%, 20%);
}

p{
    font-weight: 300;
}

.container{   
    position: absolute;
    width: 70%;
    top: 20%;
    left: 20%;
}

.person{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.description{
    position: absolute;
    width: 50%;
    top: 20%;
    right: 45%;
    z-index: 999;
}

.job{
    font-weight: 300;
    color: hsl(240, 18%, 77%);
}

.mainimg{
    box-shadow: 10px 10px 5px rgb(95, 95, 95);
    z-index:50;
    align-self: flex-end;
}

.stepper{
    position: absolute;
    right: 35%;
    top: 95%;
    display: flex;
    background-color: hsl(240, 10%, 84%);
    border-radius: 60px;
    z-index: 100;
}

.previousstep{
    padding: 20px;
}

.nextstep{
    padding: 20px;
}

@media (max-width: 900px){

}